{% extends "movifindr/base.html" %}
{% block content %}
    
        <div class ="container" style="margin-top: 20px; margin-left: 20px;";>
            <h1>Choose a genre to see currently trending movies</h1>
        </div>
        
        <div class="form-group" style="margin-top: 20px; margin-left: 20px; margin-right: 50px;">
                <label for="exampleSelect1">Genres</label>
            <form onsubmit="return genresubmit();">
                    <select class="form-control" id="genre" name="Genre">
                            {% for genre in genres %}
                            {% if genre == query %}
                            <option selected="selected" value="{{genre}}"> {{ genre }} </option>
                            {% else %}
                            <option value="{{genre}}"> {{ genre }} </option>
                            {% endif %}
                            {% endfor %}
                    </select>
                    <input type="submit" id="submit" value="Submit">
            </form>
                
        </div>

        {% if query is not None%}
        <div style="margin-top: 20px; margin-left:20px; margin-right: :20px;">
            <h2>Selected genre: {{query}}</h2>
            <table class="table table-hover" style="width:80%; margin-left:auto;margin-right:auto; margin-top: 30px;">
                <tr>
                    <th> <h6>  <strong>TITLE</strong></h6> </th>
                    <th> <h6><strong>POSITIVE REVIEWS</strong></h6> </th>
                    <th> <h6><strong>NEGATIVE REVIEWS</strong></h6> </th>
                    <th> <h6></h6> </th>
                </tr>
                {% for movie in movies %}
                <tr>
                        <td> <h7> <strong>{{ movie.movieName }} </strong></h7></td>
                        <td> <h7> {{ movie.positiveReviews }} </h7></td>
                        <td> <h7> {{ movie.negativeReviews }} </h7></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif%}

        <script>
            function genresubmit(){
                window.location.href=document.getElementById('genre').value;
            }
        </script>
   
{% endblock content %}