{% extends "movifindr/base.html" %}
{% block content %}
    <div class="jumbotron">
      <h1 class="display-3">Welcome to MoviFindR!</h1>
      <p class="lead">MoviFindR is an app disegned to help you find out which movies are currently popular on Twitter as well getting a general opinion of a movie. </p>
      <p class="lead">You can start using the app by searching for a movie with search bar. </p>
      
    </div>
{% endblock content %}

