{% extends "movifindr/base.html" %}
{% block content %}

    <div style="margin-left: 50px; margin-top: 50px;">
    <div class="row">
        <div class="col-lg-2 row align-items-center">
            <!--Example: http://image.tmdb.org/t/p/w185/bptfVGEQuv6vDTIMVCHjJ9Dz8PX.jpg-->
            <img class="movie-poster" src="http://image.tmdb.org/t/p/w185/{{ movie.poster_path}}" alt="Poster">
        </div>
        <div class="col-lg-9">
            <h1> {{ movie.original_title }}</h1>
            <h6> {{ movie.release_date }}</h6>
            <h6> {% for genre in movie.genres %}
            {{ genre.name }} 
            {% endfor %}</h6>
            
            <hr>

            <table style="width:80%">
                <tr>
                    <th> <h6>POSITIVE REVIEWS</h6> </th>
                    <th> <h6>NEGATIVE REVIEWS</h6> </th>
                </tr>
                <tr>
                    {% for data in tweet_data %}
                      <td> <h7> {{ data.positive }} </h7></td>
                      <td> <h7> {{ data.negative }} </h7></td>
                    {% endfor %}
                </tr>
            </table>

            <hr>
            <h5>Description</h5>
            <h6>{{movie.overview}}</h6>
            
        </div>
    </div>
    </div>
{% endblock content %}