{% extends "movifindr/base.html" %}
{% block content %}
    
        <table class="table table-hover" style="width:80%; margin-left:auto;margin-right:auto; margin-top: 30px;">
            <tr>
                <th> <h6>TITLE</h6> </th>
                <th> <h6>OVERVIEW</h6> </th>
                <th> <h6></h6> </th>
            </tr>
            {% for s in search_results %}
            <tr>
                <td> <h7> <strong>{{ s.original_title }} </strong></h7></td>
                <td> <h7> {{ s.overview }} </h7></td>
                <td> <button type="button" class="btn btn-outline-primary">View</button> </td>
            </tr>
            {% endfor %}
        </table>
   
{% endblock content %}